
.page {

    width: 100%;
    height: 680px;
    background: #a5d8ff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 100px;
    
}

.main {

    text-decoration-line: underline;
    
}